<div class="card mx-auto" style="width: 50rem;">
  <div class="card-body">
    <h5><%= comment.name %>:</h5><br>
    <h6 class="card-subtitle mb-2 text-muted"><%= comment.comment %></h6>
    <p class="card-text">
    </p>
    <% if signed_in? && comment.name == current_user.name %>      
      <div class="text-right">
        <%= link_to 'Delete', [comment.post, comment], method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </div>
</div><br>