<div class="container-fluid">
  <div class="card mx-auto border-dark mb-3" style="width: 40rem;">
    <h4 class="card-header text-center text-white devise-card-header"><%= title %></h4>
    <div class="card-body">
      <div class="form-group">
        
      </div>
    </div>
  </div>
</div>