<h1 class="text-center">Posts</h1>

<% @posts.each_slice(3) do |post| %>
  <div class="row container-fluid posts-spread mx-auto">
    <% post.each do |p| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">
              <%= link_to p.title, p %>
            </h5>
            <p class="card-text">
              <%= truncate(p.content, :length => 200) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>