<h1 class="text-center"><%= current_user.name.capitalize %> Posts</h1><br>

<% @posts.each_slice(3) do |post| %>
  <div class="row container-fluid posts-spread mx-auto">
    <% post.each do |p| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header posts-header">
            <h4 class="card-title text-center">
              <%= link_to p.title, p %>
            </h4>
          </div>
          <div class="card-body">
            <p class="card-text">
              <%= truncate(p.content, :length => 200) %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% if @posts.empty? %>
  <div class="card mx-auto" style="width: 25rem;">
    <div class="card-body">
      <p class="card-text text-center">
        You have not posted a blog post yet
      </p>
    </div>
    <div class="card-footer text-center">
      <%= link_to 'Create Post', new_post_path, class: "btn btn-info btn-sm" %>
    </div>
  </div><br>
<% end %>