@import "bootstrap";

body {
  background: #e0e0eb;
}

.main-content {
  padding-top: 50px;
  padding-bottom: 30px;
}

.flash-alert {
  padding-top: 30px;
  width: 50%;
}

.navbar {
  background: #144b93 !important;
  padding: 10px;
  font-size: 20px;
}

.post-index-card {
  background: #144b93;
}

.posts-spread {
  padding: 10px;
}

.posts-header {
  background: #144b93;
}

a:link,a:visited, .card-title { 
  color: white;
}

.devise-card-header {
  background: #144b93;
}

.comment-title {
  padding-bottom: 20px;
}
