@import "bootstrap";

body {
  background: #e0e0eb;
}

.navbar {
  background: #144b93 !important;
  padding: 10px;
  font-size: 20px;
}

.posts-spread {
  padding: 10px;
}

.posts-header {
  background: #144b93;
}

a:link,a:visited, .card-title { 
  color: white;
}

.devise-card-header {
  background: #144b93;
}
